@namespace "http://www.w3.org/1999/xhtml";
@namespace fb2 "http://www.gribuser.ru/xml/fictionbook/2.0";

* {margin: 0; padding: 0}
img {display: block; margin: 0 auto;}
a:focus { outline: none }

div#contents {
    z-index:3;
    background: cornsilk;
    border: 1px solid orange;
    border-left: 0;
    border-top: 0;
    position: fixed;
    top:0;
    left:0;
    font-family: sans-serif;
    width: -moz-max-content;
    max-width: 25em;
    -moz-border-radius-bottomright: 1em;
    -moz-box-shadow: 2px 2px 3px silver;
    max-height:90%;
    overflow-y: auto;
    } 
    div#contents > div {
        font-family: serif;
        font-size: 2em;
        color: #666;
        text-align: center;
        padding: 0.1em 0.25em 0.25em 0.25em;
    }
    div#contents:hover > div {
        display: none;
    }
    div#contents:hover li {
        display: block;
    }    
    div#contents li {
        display: none;
        line-height: 95%;
    }
    
    
    div#contents fb2|* {
        font-size: small;
        text-align: left;
        display: inline;
        }
    div#contents a {
        color: black;
        text-decoration: none;
        padding: 0.2em 0.5em 0.2em 1em;    
        display: block;
    }
    div#contents a:visited { color: black; }
    div#contents li a { padding-left: 1em; }
    div#contents li li a { padding-left: 2em; }
    div#contents li li li a { padding-left: 3em; }
    div#contents li li li li a { padding-left: 4em; }
    div#contents li li li li li a { padding-left: 5em; }    
    div#contents a:hover {
        background: ivory;
        text-decoration: underline;
    }
    div#contents fb2|title fb2|a[type="note"]{
            display:none;
    }
