FictionBook {padding: 2em;}

/* hide metadata */
description title-info *, document-info, src-title-info, publish-info, custom-info, binary {display: none; }
/* but show coverpage and its image */
coverpage{display:block !important;} 
    coverpage * {display:inline !important;}

/* those are blocky */
section, title, p {display: block; }
p { margin: 1em 0; }

body > title {font-size: x-large; }
title {font-size: large;}
    title p {margin: 0.3em 0;}
    subtitle {}

/* visuals */
emphasis {font-style: italic;}
strong {font-weight:bold;}
strikethrough { text-decoration: line-through; }
sub {vertical-align: sub;font-size: smaller;}
sup {vertical-align: super;font-size: smaller;}
code {white-space: pre; font-family: monospace;} 

cite {border-left: 5px solid silver; background: #eee; }
epigraph {display: block; margin-left: 20%;}
text-author {margin-left: 5em;}

poem {}
stanza {display:block; margin-bottom: 0.3em 0;}
    v {display: block;}


    
a[type='note'] {
    background:#f5f5b5; 
    position:relative;
    cursor: help;
    }
    a[type='note']:hover section {display:block; }
    a[type='note'] section {
        cursor: default;
        z-index:2;    
        position: absolute;
        top:0.5em; left: 0.5em;
        display:none; 
        background: #f5f5b5; 
        border: 1px solid #baba45;
        font-size: small;
        font-family: sans-serif;
        width: 20em;
        max-height:20em;
        overflow-y: auto;
        -moz-box-shadow: 3px 3px 5px silver;  
        }
        a[type='note'] section p { margin: 0.1em 0.3em; }
        a[type='note'] section title { display:none; }    

