FictionBook {padding: 2em;}

/* hide metadata */
description title-info *, description document-info, description publish-info, binary {display: none; }
/* but show coverpage and its image */
coverpage{display:block !important;} 
    coverpage * {display:inline !important;}

/* those are blocky */
section, title, p {display: block; }
p { margin: 1em 0; }

body > title {font-size: x-large; }
title {font-size: large;}
    title p {margin: 0.3em 0;}
