@namespace url("http://www.gribuser.ru/xml/fictionbook/2.0");
@namespace html url("http://www.w3.org/1999/xhtml");

FictionBook {
    padding: 0; margin: 0;
    max-width: 100%;
    }

html|div#contents {display: none;}
